.header{

    .menu_bar{
        display: none
    }
    @include respond-to($bp-sm){
        //.header__menu{
        //    display: inline-block
        //}
        .header__navegacion{width:30%; height: 100%; background-color:white; margin: 0;}
        
        .header__navegacion ul{ list-style: none;}
        
        .header__menu > li{display: block; float: none; border-bottom: 1px solid rgba(255,255,255, .3)}
        
        .header__menu > li >a{display: block; padding: 15px 20px; color:#353535; font-family: 'Open sans'; text-decoration: none;}
        
        .header__menu li a:hover{color:#CE7D35; transition: all .3s;}
        .menu_bar{
            display: block;
            width: 100%;
            background: #ccc;

        }
        .bt-menu{
            display: block;
            padding: 20px;
            background: white;
            color:black;
            text-decoration: none;
            font-weight: bold;
            font-size:25px;

        }
        .header__menu{
            display: none;
        }
      }
    
      @include respond-to($bp-md){
          .menu_bar{
              display: none;
          }
        .header__menu{
            display: inline-block;
        }
        .header__navegacion{width:1000px; background-color:white; margin: 30px auto; height: 50px;}
        
        .header__navegacion ul{ list-style: none;}
        
        .header__menu > li{display: inline-block;}
        
        .header__menu > li >a{display: block; padding: 15px 20px; color:#353535; font-family: 'Open sans'; text-decoration: none;}
        
        .header__menu li a:hover{color:#CE7D35; transition: all .3s;}
      }
    
      @include respond-to($bp-lg){
        .menu_bar{
            display: none;
        }
        .header__menu{
            display: inline-block;
        }
        .header__navegacion{width:1000px; background-color:white; margin: 30px auto; height: 50px; display: flex; justify-content: space-around;}
        
        .header__navegacion ul{ list-style: none;}
        
        .header__menu > li{display: inline-block;}
        
        .header__menu > li >a{display: block; padding: 15px 20px; color:#353535; font-family: 'Open sans'; text-decoration: none;}
        
        .header__menu li a:hover{color:#CE7D35; transition: all .3s;}
    
      }
    
      @include respond-to($bp-xl){
        
          

        .menu_bar{
            display: none;
        }
        
        .header__navegacion{width:1200px; background-color:white; margin: 30px auto; height: 50px; display: flex; justify-content: space-around;}
        
        
        .header__navegacion ul{ list-style: none;}
        
        .header__menu > li{display: inline-block;}
        
        .header__menu > li >a{display: block; padding: 15px 20px; color:#353535; font-family: 'Open sans'; text-decoration: none;}
        
        .header__menu li a:hover{color:#CE7D35; transition: all .3s;}
    
      }
    
    
}
*{
    font-family: $primary-font;
    margin: 0;
    padding:0;
}

.hero__info{
    //position: relative;
    //top: 300px;
    z-index: 1;
    border:1 solid blue;
    //margin: 80px;
}
.bg-hero{
    
   
    z-index: -1;
    @include respond-to($bp-sm){
        position: relative;
        right: 200px;
        width: 700px;
        height: 500px;
        
        
      }
    
      @include respond-to($bp-md){
        width: 100%;
        height: 100%;
      }
    
      @include respond-to($bp-lg){
        width: 100%;
        height: 100%;
    
      }
    
      @include respond-to($bp-xl){
        width: 100%;
        height: 100%;
    
      }
}

.bg-prices{
    //position: relative;
    //top: 300px;
    

            
    
    
    @include respond-to($bp-sm){
        
    background-image: url('/assets/images/bg-price.svg');
    background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            height: 1600px;
            width: 500px;
        
        
      }
    
      @include respond-to($bp-md){
        
    background-image: url('/assets/images/bg-price.svg');
    background-repeat: no-repeat;
            background-size: cover;
            
            height: 800px;
            width: 1200px;
      }
      @include respond-to($bp-lg){
        
        background-image: url('/assets/images/bg-price.svg');
        background-repeat: no-repeat;
                background-size: cover;
                
                height: 800px;
                width: 1200px;
      }
    
      @include respond-to($bp-xl){
        
    background-image: url('/assets/images/bg-price.svg');
    background-repeat: no-repeat;
            background-size: cover;
            
            height: 800px;
            width: 1200px;
            
            
    
      }
}
.card{
    &__title{
        margin:10px;
        
    }
    &__list{
        margin-top:50px;
        margin-right: 50px;
        margin-left: 50px;
    }
    &__price{
        font-family:$primary-font-bold;
        font-size: xx-large;
        text-align: center;
    }
    &__line{
        position: absolute;
        top: 200px;
        bottom: 0px;
       left: 0;
       right: 0;
    }
    &__button{
        position: absolute;
        top: 250px;
        bottom: 0px;
       left: 0;
       right: 0;
    
        padding: .3rem 1.5rem;
        
    }
    font-family: $primary-font;
    position: relative;
    bottom:600px;
    //z-index: 1;
    background-color: white;
    width: 350px;
    height: 400px;
    margin:100px;

    @include respond-to($bp-sm){
        font-family: $primary-font;
        position: relative;
        bottom:1200px;
        //z-index: 1;
        background-color: white;
        width: 350px;
        height: 400px;
        margin:100px;
        
    
        
      }
    
      @include respond-to($bp-md){
        font-family: $primary-font;
    position: relative;
    bottom:600px;
    //z-index: 1;
    background-color: white;
    width: 350px;
    height: 400px;
    margin:100px;

      }
    
      @include respond-to($bp-lg){
        font-family: $primary-font;
    position: relative;
    bottom:600px;
    //z-index: 1;
    background-color: white;
    width: 350px;
    height: 400px;
    margin:100px;

    
      }
    
      @include respond-to($bp-xl){
        font-family: $primary-font;
    position: relative;
    bottom:600px;
    //z-index: 1;
    background-color: white;
    width: 350px;
    height: 400px;
    margin:100px;

    
      }
}
.bg-bar{
    animation: fadein 10s;
    
}
.pricess{
    .prices__title{
        position: relative;
        bottom:550px;
        left: 500px;
        z-index: 1;
        color:$white;
        font-size: xx-large;
        @include respond-to($bp-lg){
            position: relative;
        bottom:550px;
        left: 500px;
        z-index: 1;
        color:red;
        font-size: xx-large;

    
        
          }
        
    }
    
}

.footer{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    &__texto{
        display: inline;
        float: left;
        
    }
    &__menu{
        display: inline-block;
    }
    &__navegacion{width:100%; background-color:black; height: 100%;}
    
    &__navegacion ul{ list-style: none;}
    
    &__menu > li{display: inline-block;}
    
    &__menu > li >a{display: block; padding: 15px 20px; color:#353535; font-family: 'Open sans'; text-decoration: none;}
    
    &__menu li a:hover{color:#CE7D35; transition: all .3s;}
    
}